.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.MuiListItem-root {
  padding: 8px !important;
}

.MuiListItemText-primary {
  font-size: 0.9rem !important;
  white-space: nowrap;
  color: var(--color) !important;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
  color: var(--color) !important;
}

.MuiDivider-root {
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin: 8px 0 !important;
}