.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1200;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle-button {
  color: var(--color);
  cursor: pointer;
  padding: 5px;
}

.sidebar.collapsed .MuiListItemText-root {
  display: none;
}

.sidebar.collapsed h3 {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 65px;
  }

  .sidebar .MuiListItemText-root {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }
  
  .sidebar.expanded {
    width: 250px;
  }

  .sidebar.expanded .MuiListItemText-root {
    display: block;
  }

  .sidebar.expanded h3 {
    display: block;
  }
}

.MuiListItem-root {
  padding: 8px !important;
}

.MuiListItemText-primary {
  font-size: 0.9rem !important;
  white-space: nowrap;
  color: var(--color) !important;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
  color: var(--color) !important;
}

.MuiDivider-root {
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin: 8px 0 !important;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vh;
}